html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    vertical-align: baseline;
}

.App-body {
  background-color: #282c34;
  margin: auto;
}

.App-header {
  position: fixed;
}

h1 {
  text-align: center;
}

.intro {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1px);
  border-radius: 25px;
  position: relative;
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 100px;
  width: 75%;
  height: 100%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.anim_gradient {
  position: absolute;
  width: 100%;
  height: contain;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, purple, red);
};
